In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [3]:
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [4]:
# Drop the non-beneficial ID columns, 'EIN','STATUS' and 'SPECIAL_CONSIDERATIONS.
application_df = application_df.drop(['EIN','SPECIAL_CONSIDERATIONS','STATUS'],axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [5]:
# Look at AFFILIATION value counts for binning
aff_count = application_df['AFFILIATION'].value_counts() 
aff_count

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [6]:
affiliation_to_replace = list(aff_count[aff_count < 100].index)
# Replace in dataframe
for app in affiliation_to_replace :
  application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(app,"Other")
# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [7]:
name_count = application_df['NAME'].value_counts() 
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [8]:
name_to_replace = list(name_count[name_count < 5].index)
# Replace in dataframe
for app in name_to_replace :
  application_df['NAME'] = application_df['NAME'].replace(app,"Other")
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df['APPLICATION_TYPE'].value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_count[application_count < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
#   print(app)
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classification_count[classification_count < 1000].index)
# classifications_to_replace
# # Replace in dataframe
for cls in classifications_to_replace: 
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")  
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(application_df)
len(X_dummies.columns)

438

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = X_dummies.drop('IS_SUCCESSFUL',axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.shape

(25724, 437)

In [15]:
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer1 =  100
hidden_layer2 = 30
hidden_layer3 = 20
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, activation="relu", input_dim=input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="sigmoid"))
# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer3, activation="sigmoid"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               43800

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 47,471
Trainable params: 47,471
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.4822 - accuracy: 0.7776
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4344 - accuracy: 0.7952
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4284 - accuracy: 0.7973
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4249 - accuracy: 0.7983
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4233 - accuracy: 0.8000
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4210 - accuracy: 0.8012
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4193 - accuracy: 0.8007
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4181 - accuracy: 0.8011
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4170 - accuracy: 0.8032
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4162 - accuracy: 0.8032
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4156 - accuracy: 0.8035
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.8021
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4137 - accuracy: 0.8037
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4134 - accuracy: 0.8038
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4128 - accuracy: 0.8044
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4120 - accuracy: 0.8034
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4116 - accuracy: 0.8049
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4108 - accuracy: 0.8047
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8048
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4100 - accuracy: 0.8039
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4095 - accuracy: 0.8047
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4091 - accuracy: 0.8053
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4085 - accuracy: 0.8050
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4085 - accuracy: 0.8058
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4079 - accuracy: 0.8067
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4075 - accuracy: 0.8065
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4071 - accuracy: 0.8059
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4074 - accuracy: 0.8070
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8056
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8073
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4060 - accuracy: 0.8068
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4060 - accuracy: 0.8068
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8066
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8083
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4049 - accuracy: 0.8082
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4043 - accuracy: 0.8077
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4044 - accuracy: 0.8066
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8077
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8081
Epoch 40/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4033 - accuracy: 0.8067
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4038 - accuracy: 0.8078
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8083
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8077
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8079
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4025 - accuracy: 0.8088
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8085
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4021 - accuracy: 0.8089
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4024 - accuracy: 0.8098
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8093
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4019 - accuracy: 0.8085
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8086
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4013 - accuracy: 0.8087
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4011 - accuracy: 0.8090
Epoch 54/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4010 - accuracy: 0.8082
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4012 - accuracy: 0.8094
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4003 - accuracy: 0.8085
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4003 - accuracy: 0.8089
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4006 - accuracy: 0.8090
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4008 - accuracy: 0.8085
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4001 - accuracy: 0.8088
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4002 - accuracy: 0.8094
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3996 - accuracy: 0.8094
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3999 - accuracy: 0.8097
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3999 - accuracy: 0.8102
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3995 - accuracy: 0.8096
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3994 - accuracy: 0.8104
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3994 - accuracy: 0.8085
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3997 - accuracy: 0.8098
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3995 - accuracy: 0.8103
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8099
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3991 - accuracy: 0.8099
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8100
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3993 - accuracy: 0.8102
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3992 - accuracy: 0.8094
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3991 - accuracy: 0.8101
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3988 - accuracy: 0.8103
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3986 - accuracy: 0.8103
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3988 - accuracy: 0.8102
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3986 - accuracy: 0.8103
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3982 - accuracy: 0.8096
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8103
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8107
Epoch 83/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3982 - accuracy: 0.8102
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3983 - accuracy: 0.8106
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3979 - accuracy: 0.8104
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3975 - accuracy: 0.8102
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3977 - accuracy: 0.8104
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3977 - accuracy: 0.8111
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3976 - accuracy: 0.8107
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3972 - accuracy: 0.8100
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8103
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3971 - accuracy: 0.8106
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3972 - accuracy: 0.8106
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3971 - accuracy: 0.8106
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3970 - accuracy: 0.8110
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3976 - accuracy: 0.8109
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3973 - accuracy: 0.8106
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3971 - accuracy: 0.8105
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3966 - accuracy: 0.8110
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3968 - accuracy: 0.8115

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4685 - accuracy: 0.7876 - 410ms/epoch - 2ms/step
Loss: 0.46847113966941833, Accuracy: 0.7876384854316711

In [23]:
# Export our model to HDF5 file
nn.save('alphabetsoup_Optimized.h5')

LOGISTIC REGRESSION

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Fit the model
classifier = LogisticRegression().fit(X_train_scaled,y_train)

# Evaluate the model
y_pred = classifier.predict(X_test_scaled)
score = accuracy_score(y_test,y_pred)
score

0.7892711370262391

RANDOM FOREST CLASSIFIER

In [30]:
from sklearn.ensemble import RandomForestClassifier

# create and fit the model
clf = RandomForestClassifier(random_state=42, n_estimators=100).fit(X_train, y_train)

# Evaluate the model
y_predict = clf.predict(X_test_scaled)
score = accuracy_score(y_test,y_predict)
score

0.787405247813411